*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.section {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #333;
}

.sidebar-desktop {
    position: relative;
}

.sidebar-bg {
    width: 430px;
    position: fixed;
    inset: 0 auto 0 0;
    min-height: 100vh;
    background: url(images/og-img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.main {
    position: relative;
    margin-left: 430px;
    padding: 10px;
}

.menu-btn {
    position: fixed;
    inset: 10px 10px auto auto;
    color: #444;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 5px;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #f0f0f0;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 20px;
}

.header .btn-light {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header .btn-light:hover {
    background-color: #333;
}

.divider {
    border: 0;
    height: 2px;
    background-color: #eee;
    margin: 20px 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.photo-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
