*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

 img {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

.section {
  margin-bottom: 40px;
  padding: 10px;
}

.section h2 {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #757575;
  font-weight: 600;
}

.sidebar-desktop {
    position: relative;
}

.sidebar-bg {
    width: 430px;
    position: fixed;
    inset: 0 auto 0 0;
    min-height: 100vh;
}

/* Pseudo-element background ke liye */
.sidebar-bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(images/og-img.jpeg) center/cover no-repeat;
    filter: grayscale(100%);
    z-index: -1;
}

div.main {
    position: relative;
    margin-left: 430px;
    padding: 10px 1rem;
}

.menu-btn {
    position: fixed;
    inset: 0 0 auto auto;
    color: #444;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 5px;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #757575;
}

.header {
    text-align: center;
    padding: 6.5rem 1rem;
}

.header h1 {
    font-size: 4rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
}

.header .btn-light {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 16px 24px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header .btn-light:hover {
    background-color: #e0e0e0;
}

#mobileSidebar {
    display: none;
}

.sidebar-menu {
    position: fixed;
    inset: 0 0 0 auto;
    z-index: 4;
    background-color: #111;
    color: #fff;
    width: 65%;
    max-width: 650px;
}

.d-sm-block {
    display: none;
}

.d-sm-block img {
    display: block;
    width: 600px;
    height: 800px;
    object-fit: cover;
    margin: 40px auto;
    border-radius: 8px;
}

.sidebar-menu a {
    text-align: center;
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222;
    transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
    background-color: #222;
}

.divider {
    border: 0;
    height: 2px;
    background-color: #eee;
    margin: 20px 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.photo-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.sub-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: #757575;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.skill-title {
    margin-bottom: 5px;
    font-weight: 600;
}

.skill-bar {
    background-color: #f1f1f1;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
}

.skill-bar div {
    background-color: #616161;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}

div.stats-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2.5rem 20px;
    margin: 50px 0 10px 0;
    border-radius: 8px;
    background-color: #616161;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.stats-box div span {
    font-size: 1.5rem;
    font-weight: 400;
}

.section-btn {
    margin-bottom: 2rem;
}

.btn-light {
    margin-top: 2rem;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-light:hover {
    background-color: #e0e0e0;
}

.testimonial {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.testimonial img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.price-card {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0.8;
}

.price-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.price-header {
    padding: 1.8rem 0.9rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
}

.dark {
    background-color: #616161;
    color: #fff;
}

.black {
    background-color: #000;
    color: #fff;
}

ul.price-card li:not(.price-header) {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.btn-section {
    background-color: #f1f1f1;
}

.btn-white {
    margin: 10px 0;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-white:hover {
    background-color: #111;
    color: #fff;
}


address {
    margin:0 0 2rem; 
}

address > p i {
    font-size: 2.3rem !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #616161;
}

address p a {
    color: #444;
    text-decoration: none;
}

address p a:hover {
    text-decoration: underline;
}

.map-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

form.contact-form {
    margin: 1rem 0 3rem;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input:focus {
    border-color: #616161;
    outline: none;
}

form .btn-light {
    display: inline-block;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    margin: 0;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
form .btn-light:hover {
    background-color: #e0e0e0;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin: 0 -1rem;
}

footer i {
    color: #616161;
    font-size: 1.5rem !important;
    margin: 1rem 10px;
    transition: color 0.3s ease;
    cursor: pointer;
}

footer i:hover {
    color: #333;
}

footer p a {
    color: #444;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    .sidebar-bg {
        display: none;
    }

    div.main {
        margin-left: 0;
        padding: 10px;
    }
  
    .d-sm-block {
    display: block;
}

.photo-grid img {
    height: 380px;
  }

}


@media only screen and (max-width: 600px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }

    .photo-grid img {
        height: 350px;
    }

   .d-sm-block img {
    display: block;
    width: 100%;
    height: 560px;
    object-fit: cover;
    margin: 40px auto;
    border-radius: 8px;
}

div.stats-box {
    flex-wrap: wrap;
    gap: 20px;
}

.pricing-grid {
    grid-template-columns: 1fr;
    gap: 20px;

}

}